<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.james.training.selenium_project.RestAPITest"/>
      <class name="com.james.training.selenium_project.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
